.zoomInfirst{
  animation-name:zoomInfirst;
  animation-duration: 2s;
  animation-fill-mode: forwards;  
}

.zoomInSecond{
  animation-name:zoomInSecond;
  animation-duration: 2s;
  animation-fill-mode: forwards;  
}

@keyframes zoomInfirst{
  0% {
    /* width:10em; */
    transform: scale(1);
  }
  100% {
    transform: scale(5);
    transform-origin: 50% 50%;

  }
}

@keyframes zoomInSecond {
  0% {
    /* width:10em; */
    transform: scale(1);
  }
  100% {
    transform: scale(3);
    transform-origin: 50% 50%;

  }
}