* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root1 {
  width: 1080px;
  height: 1800px;
  background-color: rgba(143, 202, 228, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#root1 > div {
  width: 50%;
  height: 60%;
  background-color: rgba(143, 202, 228, 0);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  left: 10%;
  top: 10%;
}
#root1 > div > div:nth-child(1) {
  font-size: 3em;
}
#root1 > div > div:nth-child(2) {
  font-size: 1.2em;
}
#root1 > div > div:nth-child(3) {
  font-size: 2em;
}

#root2 {
  width: 100vw;
  height: 100vh;
  background-color: #82C6AF;
  position: relative;
  overflow: hidden;
}
#root2 > div {
  width: 100%;
  height: 100%;
  background-color: rgba(143, 202, 228, 0);
}
#root2 > div:nth-child(1) {
  position: absolute;
  z-index: 5;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
}
#root2 > div:nth-child(1) > div:nth-child(1) {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: rgba(143, 202, 228, 0);
  position: absolute;
  left: 200px;
  top: 300px;
  font-size: 20px;
}
#root2 > div:nth-child(1) > img:nth-child(2) {
  width: 20em;
  height: 20em;
  background-color: rgba(92, 185, 177, 0);
  border-radius: 50%;
  position: absolute;
  left: 1000px;
  top: 250px;
}
#root2 > div:nth-child(1) > div:nth-child(3) {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: rgba(143, 202, 228, 0);
  position: absolute;
  left: 1040px;
  top: 350px;
  font-size: 10px;
}
#root2 > div:nth-child(2) {
  position: absolute;
  z-index: 4;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
}
#root2 > div:nth-child(2) > img:nth-child(1) {
  width: 7em;
  height: 7em;
  background-color: rgba(92, 185, 177, 0);
  border-radius: 50%;
  position: absolute;
  left: 1000px;
  top: 360px;
}
#root2 > div:nth-child(2) > div:nth-child(2) {
  font-size: 1px;
  position: absolute;
  left: 1000px;
  top: 380px;
}
#root2 > div:nth-child(2) > img:nth-child(3) {
  width: 2em;
  height: 2em;
  background-color: rgba(92, 185, 177, 0);
  border-radius: 50%;
  position: absolute;
  left: 1150px;
  top: 400px;
}
#root2 > div:nth-child(2) > img:nth-child(4) {
  width: 2em;
  height: 2em;
  background-color: rgba(92, 185, 177, 0);
  border-radius: 50%;
  position: absolute;
  left: 1100px;
  top: 350px;
}
#root2 > div:nth-child(2) > img:nth-child(5) {
  width: 1em;
  height: 1em;
  background-color: rgba(92, 185, 177, 0);
  border-radius: 50%;
  position: absolute;
  left: 1100px;
  top: 500px;
}
#root2 > div:nth-child(2) > img:nth-child(6) {
  width: 1em;
  height: 1em;
  background-color: rgba(92, 185, 177, 0);
  border-radius: 50%;
  position: absolute;
  left: 1170px;
  top: 430px;
}
#root2 > div:nth-child(3) {
  position: absolute;
  z-index: 3;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
}
#root2 > div:nth-child(3) > img:nth-child(1) {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 3em;
  background-color: rgba(92, 185, 177, 0);
  position: absolute;
  left: 1100px;
  top: 400px;
}
#root2 > div:nth-child(3) > img:nth-child(2) {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 1.6em;
  background-color: rgba(92, 185, 177, 0);
  position: absolute;
  left: 1150px;
  top: 450px;
}
#root2 > div:nth-child(3) > img:nth-child(3) {
  position: absolute;
  left: 1020px;
  top: 400px;
}
#root2 > div:nth-child(4) {
  position: absolute;
  z-index: 2;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
}
#root2 > div:nth-child(4) > img:nth-child(1) {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 4em;
  background-color: rgba(92, 185, 177, 0);
  position: absolute;
  left: 1080px;
  top: 430px;
}
#root2 > div:nth-child(4) > div:nth-child(2) > img {
  position: absolute;
  left: 1030px;
  top: 400px;
  width: 110px;
  height: 100px;
}
#root2 > div:nth-child(4) > div:nth-child(3) > img {
  position: absolute;
  left: 1100px;
  top: 435px;
  width: 10px;
  height: 70px;
}/*# sourceMappingURL=first-step.css.map */