* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin display-flex($flexDirection:column, $justify:null, $align:null) {
  display: flex;
  flex-direction: $flexDirection;
  justify-content: $justify;
  align-items: $align;
}

@mixin section-check ($width:100%, $hieght:100%, $color:black, $bgc:#ccc) {
  width: $width;
  height: $hieght;
  border: 1px solid $color;
  background-color: $bgc;
}

#root1 {
  @include section-check(100vw, 70vh);
  @include display-flex($justify: center);

  &>div {
    @include section-check(50%, 60%, 0);
    @include display-flex($justify: space-around);
    position: relative;
    left: 10%;
    top: 10%;

    &>div:nth-child(1) {
      font-size: 3em;
    }

    &>div:nth-child(2) {
      font-size: 1.2em;
    }

    &>div:nth-child(3) {
      font-size: 2em;
    }
  }
}

#root2 {
  @include section-check(100vw, 100vh);
  // @include display-flex($flexDirection:row);
  position: relative;
  overflow: hidden;

  &>div {
    @include section-check(100%, 100%,black,rgba(34, 51, 0, 0))
  }

  &>div:nth-child(1) {
position: absolute;
  z-index: 5;

  &>div:nth-child(1) {
    @include section-check(400px, fit-content);
    position: absolute;
    left: 200px;
    top: 400px;
  
  }
  &>div:nth-child(2) {
      @include section-check(14em, 14em, black, rgba(137, 24, 24, 0.624));
      border-radius: 50%;
      position: absolute;
      left: 1000px;
      top: 400px;
    }
  }

  &>div:nth-child(2) {
    position: absolute;
      z-index: 4;
  &>div{
    @include section-check(5em, 5em);
    border-radius: 50%;
    position: absolute;
    left: 1000px;
    top: 400px;
    }
  }

  &>div:nth-child(3) {
position: absolute;
  z-index: 3;
//   &>div{
  //   @include section-check(3em, 3em);
  //   border-radius: 50%;
  //   position: absolute;
  //   left: 1000px;
  //   top: 1000px;
  }

  &>div:nth-child(4) {
position: absolute;
  z-index: 2;
//   &>div{
  //   @include section-check(3em, 3em);
  //   border-radius: 50%;
  //   position: absolute;
  //   left: 1200px;
  //   top: 1000px;
  }

}

// todo 여기있는 반복되는 코드들 @mixin으로 묶어서 정리
// ? 여기서 이미지를 쓰면 box2를 키우면 img도 같이 커지지 않을까?
// ^ 그래서 이미지를 넣고 js로 wheel이벤트시 box2가 커지게함 -> 크기비율이 부모의 값에 연결되어있는 상대 값이기 때문에 box2가 커지면 img들도 같은 비율을 유지하면서 커질 것이다! 라고 생각
// memo img로 하니까 깨진다 -> png라서 그런듯 svg로 가져와볼것
// memo css scale를 쓰니까 굳이 이미지로 할 필요가 없어짐   

// memo 부모 크기를 넘지 않음 -> display 때문   
// memo translate를 넣었을때 고정된 위치에서 커지게 하기 위해서 모든 요소를 하나의 root에 넣고 position으로 강제 지정해보기로함 --> 왜 대 공사 겠는디? 


// memo 모든 위치를 absolute로 줘야 다른 요소가 없어지거나 나타날때 위치가 이동하지 않음