* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin display-flex($flexDirection:column, $justify:null, $align:null) {
  display: flex;
  flex-direction: $flexDirection;
  justify-content: $justify;
  align-items: $align;
}

@mixin section-check ($width:100%, $hieght:100%, $background-color:#8fcae400) {
  width: $width;
  height: $hieght;
  background-color: $background-color;
}

#root1 {
  @include section-check(1080px, 1800px);
  @include display-flex($justify: center);

  &>div {
    @include section-check(50%, 60%);
    @include display-flex($justify: space-around);
    position: relative;
    left: 10%;
    top: 10%;

    &>div:nth-child(1) {
      font-size: 3em;
    }

    &>div:nth-child(2) {
      font-size: 1.2em;
    }

    &>div:nth-child(3) {
      font-size: 2em;
    }
  }
}











#root2 {
  @include section-check(100vw, 100vh,#82C6AF);

  position: relative;
  overflow: hidden;

  &>div {
    @include section-check(100%, 100%)
  }

// pseudo layer 1
  &>div:nth-child(1) {
    position: absolute;
    z-index: 5;
    backdrop-filter: blur(1px);

    // pseudo intro text
    &>div:nth-child(1) {
      @include section-check(fit-content, fit-content);
      position: absolute;
      left: 200px;
      top: 300px;
      font-size: 20px;
    }
    // pseudo 연잎
    &>img:nth-child(2) {
      @include section-check(20em, 20em, #5cb9b100);
      border-radius: 50%;
      position: absolute;
      left: 1000px;
      top: 250px;
    }

    // pseudo I 
    &>div:nth-child(3){
      @include section-check(fit-content, fit-content);
      position: absolute;
      left: 1040px;
      top: 350px;
      font-size: 10px;
    }
  }

  // pseudo 레이어 2
  &>div:nth-child(2) {
    position: absolute;
    z-index: 4;
    backdrop-filter: blur(1px);

    // pseudo 내용 공기방울
    &>img:nth-child(1) {
      @include section-check(7em, 7em, #5cb9b100);
      border-radius: 50%;
      position: absolute;
      left: 1000px;
      top: 360px;
    }
    &>div:nth-child(2){
      font-size: 1px;
      position: absolute;
      left: 1000px;
      top: 380px;
    }
    // pseudo wantToLearn
    &>img:nth-child(3) {
      @include section-check(2em, 2em, #5cb9b100);
      border-radius: 50%;
      position: absolute;
      left: 1150px;
      top: 400px;
    }

    // pseudo 좌우명
    &>img:nth-child(4) {
      @include section-check(2em, 2em, #5cb9b100);
      border-radius: 50%;
      position: absolute;
      left: 1100px;
      top: 350px;
    }
    // pseudo 프로젝트
    &>img:nth-child(5) {
      @include section-check(1em, 1em, #5cb9b100);
      border-radius: 50%;
      position: absolute;
      left: 1100px;
      top: 500px;
    }

    // pseudo 장단점
    &>img:nth-child(6) {
      @include section-check(1em, 1em, #5cb9b100);
      border-radius: 50%;
      position: absolute;
      left: 1170px;
      top: 430px;
    }
  }

  &>div:nth-child(3) {
    position: absolute;
    z-index: 3;
    backdrop-filter: blur(1px);

    &>img:nth-child(1) {
      @include section-check(fit-content, 3em, #5cb9b100);
      // border-radius: 50%;
      position: absolute;
      left: 1100px;
      top: 400px;
    }

    &>img:nth-child(2) {
      @include section-check(fit-content, 1.6em, #5cb9b100);
      // border-radius: 50%;
      position: absolute;
      left: 1150px;
      top: 450px;
    }
    &>img:nth-child(3){
      position: absolute;
      left: 1020px;
      top: 400px;

    }
  }
  

  &>div:nth-child(4) {
    position: absolute;
    z-index: 2;
    backdrop-filter: blur(1px);

    &>img:nth-child(1) {
      @include section-check(fit-content, 4em, #5cb9b100);
      // border-radius: 50%;
      position: absolute;
      left: 1080px;
      top: 430px;
    }
  }
}

// todo 여기있는 반복되는 코드들 @mixin으로 묶어서 정리
// ? 여기서 이미지를 쓰면 box2를 키우면 img도 같이 커지지 않을까?
// ^ 그래서 이미지를 넣고 js로 wheel이벤트시 box2가 커지게함 -> 크기비율이 부모의 값에 연결되어있는 상대 값이기 때문에 box2가 커지면 img들도 같은 비율을 유지하면서 커질 것이다! 라고 생각
// memo img로 하니까 깨진다 -> png라서 그런듯 svg로 가져와볼것
// memo css scale를 쓰니까 굳이 이미지로 할 필요가 없어짐   

// memo 부모 크기를 넘지 않음 -> display 때문   
// memo translate를 넣었을때 고정된 위치에서 커지게 하기 위해서 모든 요소를 하나의 root에 넣고 position으로 강제 지정해보기로함 --> 왜 대 공사 겠는디? 


// memo 모든 위치를 absolute로 줘야 다른 요소가 없어지거나 나타날때 위치가 이동하지 않음